<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Rooms</title>
</head>

<body>
    <p>List of chats:</p>
    <textarea id="room-name-list" cols="40" rows="5" , disabled="disabled"></textarea><br />
    <p id="register-p" style="margin: 0;">Are you already registered?</p>
    <button type="button" id="yes-button">Yes</button>
    <button type="button" id="no-button">No</button>
    <input id="username-input" type="text" size="100" , style="visibility: hidden;" /><br />
    <br />
    What chat room would you like to enter?<br />
    <input id="room-name-input" type="text" size="100" /><br />
    <input id="room-name-submit" type="button" value="Enter" />

    <script>
        function load_chatlist() {
            document.querySelector('#room-name-list').value = "";
            document.querySelector('#username-input').value = "";
            document.querySelector('#room-name-input').value = "";
            var xhr = new XMLHttpRequest();
            xhr.open("GET", window.location.href + "list/");
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4) {
                    var list = JSON.parse(xhr.responseText);
                    document.querySelector('#room-name-list').value += list.join("\n");
                }
            }
            xhr.send(null);
        }

        function replace_after_click() {
            document.querySelector("#username-input").style.visibility = "visible";
            var yesB = document.querySelector("#yes-button");
            yesB.parentNode.removeChild(yesB);
            var noB = document.querySelector("#no-button");
            noB.parentNode.removeChild(noB);
        }

        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = (e) => {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#yes-button').onclick = () => {
            replace_after_click();
            var regP = document.querySelector("#register-p").innerHTML = "Enter your previous username";
        }

        document.querySelector("#no-button").onclick = () => {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", window.location.href + "login/");
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4) {
                    var username = xhr.getResponseHeader("username");
                    sessionStorage.setItem("username", username);
                    replace_after_click();
                    document.querySelector("#register-p").innerHTML = "This is your username";
                    document.querySelector("#username-input").value = username;
                }
            }
            xhr.send(null);
        }

        document.querySelector('#room-name-submit').onclick = (_) => {
            var roomName = document.querySelector('#room-name-input').value;
            var allRooms = document.querySelector("#room-name-list").value;
            if (allRooms.includes(roomName)) {
                sessionStorage.setItem("room", roomName);
                sessionStorage.setItem("username",
                    document.querySelector("#username-input").value
                )
                alert("You're connected to " + roomName);
                window.location.pathname = '/server/rooms/' + roomName + '/';
            }
            else {
                alert("Room does not exist!");
            }
        };
        window.onload = load_chatlist;
    </script>
</body>

</html>