<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    <p>List of chats:</p>
    <textarea id="room-name-list" cols="40" rows="5"></textarea><br/>
    What chat room would you like to enter?<br/>
    <input id="room-name-input" type="text" size="100"/><br/>
    <input id="room-name-submit" type="button" value="Enter"/>

    <script>
        function load() {
            document.querySelector('#room-name-list').value += "\n";
            var xhr = new XMLHttpRequest();
            xhr.open("GET", window.location.href + "list/");
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4) {
                    var list = JSON.parse(xhr.responseText);
                    document.querySelector('#room-name-list').value += list.join("\n");
                }
            }
            xhr.send(null); 
        }

        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/server/rooms/' + roomName + '/';
        };
        window.onload = load;
    </script>
</body>
</html>