<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/server/rooms/' + roomName + '/');

    var username = sessionStorage.getItem("username");
    var room = sessionStorage.getItem("room");

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': username,
            'room': room
        }));

        messageInputDom.value = '';
    };

    function logout() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", window.location.origin + "/server/logout/");
        xhr.setRequestHeader("room", room);
        xhr.setRequestHeader("username", username);
        xhr.send(null);
    }

    function fetchOldMessages() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", window.location.origin + "/server/get/");
        xhr.setRequestHeader("username", username);
        xhr.onreadystatechange = () => {
            if (xhr.readyState === 4) {
                var list = JSON.parse(xhr.responseText);
                document.querySelector('#chat-log').value += list.join("\n");
            }
        }
        xhr.send(null);
    }

    window.onload = fetchOldMessages;
    window.onbeforeunload = logout;

</script>
</html>